.header,
.footer {
  background: #eee;
  color: #111;
  max-width: 819px;
}

.mainInside {
  max-width: 819px;
  color: #111;
}

.footer {
  max-width: 819px;
}

.h1 {
  font-size: 1.75rem;
}

.h2 {
  font-size: 1.5rem;
}

.pLarge {
  font-size: 1.25rem;
}

.p {
  font-size: 1rem;
}
